
*.ide-wal
*.ide
*.lock
*.ide-shm
.vs/CampionatFussball/v15/.suo
CampionatFussball/bin/Debug/CampionatFussball.exe
CampionatFussball/bin/Debug/CampionatFussball.exe.config
CampionatFussball/bin/Debug/CampionatFussball.pdb
CampionatFussball/obj/Debug/CampionatFussball.csproj.CoreCompileInputs.cache
CampionatFussball/obj/Debug/CampionatFussball.csprojAssemblyReference.cache
CampionatFussball/obj/Debug/CampionatFussball.exe
CampionatFussball/obj/Debug/CampionatFussball.pdb
CampionatFussball/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CampionatFussball/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CampionatFussball/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CampionatFussball/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
